<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sobre Mi</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header class="s_info_p">
        <img class="imgIcon" src="../img/foto-perfil.jpg" alt="imagen">
        <nav class="menu">
            <a href="../index.html">Home</a>
        </nav>
        <h1 class="info">INFORMACIÓN SOBRE MI</h1>
    </header>
    <main class="main-about">
        <section>
            <p>Mi nombre completo es Avril Tihista, nací en Uruguay el 22 de Abril de 2004. 
            </p>
            
            <p>
                Actualmente estoy estudiando la carrera Certified 
                Tech Developer, debido a que estoy interesada en el mundo de la programación.
            </p>
        </section>
    </main>
    <footer>
        <span>21312 - Avril Tihista </span>
        <img class="iconos" src="../img/instagramicon.png" alt="icon instagram"> 
        <img class="iconos" src="../img/linkedinicon.png" alt="icon linkedin"> 
        <a href="https://github.com/avril-tihista" target="_blank"><img class="iconos" src="../img/githubicon.png"></i></a>
    </footer>
</body>
</html>